<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="entry-write">
        <form action="/add" method="post">
            <!-- Step 2: Take up more space
                    //Change your inputs to textareas w/o borders, increase title font-size and line-height
                    //Change placeholders from sample message to functional message instead
            -->
            <label for="title"></label>
            <textarea class="title" placeholder="TITLE GOES HERE" name="title"><%= locals.title %></textarea>
            <label for="content"></label>
            <textarea class="content" placeholder="content goes here" rows="10" cols="70" name="content"><%= locals.content %></textarea>
            <input class="camo" name="editingId" value="<%=locals.editingId %>">
            <button type="submit">Post</button>
        </form>
    </div>
</body>
</html>